<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TODO{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load tz %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
            <div class="card-body py-4 px-4 px-md-5">
  
              <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>TODOs</u>
              </p>
  
              <div class="pb-2">
                <div class="card">
                  <div class="card-body">
                    <form action="{% url 'create-task' %}" method="post">
                        {% csrf_token %}
                    <div class="d-flex flex-row align-items-center">
                       <div class="row">
                        <label for="exampleFormControlInput2">Task Title:</label>
                      <input type="text" class="form-control form-control-lg" id="exampleFormControlInput2"
                        placeholder="Add new..." name="task">
                        <label for="exampleFormControlInput1">Description:</label>
                        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                        placeholder="Description..." name="description">
                        <label for="exampleFormControlInput3">İcon:</label>
                        <input type="text" class="form-control form-control-lg" id="exampleFormControlInput3"
                        placeholder="Icon..." name="icon">
                        <div>
                            <label for="prioritySelect">Select Priority:</label>
                        <select class="form-control" id="prioritySelect">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                     
                      <div>
                        <input type="Submit" class="btn btn-primary" value="Add"></input>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
  
              <hr class="my-4">
  
              <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <a href="{% url 'index' %}"><button type="button" class="btn btn-primary">All</button></a>
                <a href="{% url 'completed-tasks' %}"><button type="button" class="btn btn-success">Completed</button></a>
                <a href="{% url 'uncompleted-tasks' %}"><button type="button" class="btn btn-danger">Active</button></a>
            
                {% comment %} <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                  <option value="1">Added date</option>
                  <option value="2">Due date</option>
                </select> {% endcomment %}
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i
                    class="fas fa-sort-amount-down-alt ms-2"></i></a>
              </div>
              {% block content %}
              {% endblock content %}
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

</html>